body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Bai Jamjuree', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: hsl(210, 10%, 33%);
    background-image: url('/images/bg-header-desktop.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.header {
    padding: 40px 0;
    padding-top: 70px;
}

.container-top {
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 12em;
}

.heading {
    font-size: 5em;
    color: hsl(210, 10%, 33%);
    margin: 20px 0 10px 0;
}

.subheading {
    font-size: 2.5em;
    color: hsl(201, 11%, 66%);
    margin: 0;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn {
    padding: 30px 40px;
    font-size: 2.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
    background-color: hsl(171, 66%, 44%);
    color: #fff;
}

.btn-secondary {
    background-color: hsl(233, 100%, 69%);
    color: #fff;
}

.btn:hover {
    background-color: #051729;
}

.image-text-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 150px;
    width: 100%;
    margin: 0 auto;
}

.image-container {
    flex: 1;
}

.section-image {
    width: 110%;
    height: auto;
    border-radius: 8px;
}

.text-container {
    font-size: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-block {
    margin-bottom: 20px;
}

.text-block .heading {
    font-size: 1.5em;
    color: hsl(210, 10%, 33%);
    margin: 0;
}

.text-block .subheading {
    font-size: 1em;
    color: hsl(201, 11%, 66%);
    margin: 5px 0 0 0;
}

.centered-image-section {
    text-align: center;
    margin: 40px 0;
}

.centered-heading {
    font-size: 5em;
    color: hsl(210, 10%, 33%);
    margin-bottom: 10px;
}

.centered-subheading {
    font-size: 2.5em;
    color: hsl(201, 11%, 66%);
    padding-top: 10px;
    margin-bottom: 60px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.centered-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.three-containers-section {
    text-align: center;
    margin: 40px 0;
}

.section-heading {
    font-size: 5em;
    color: hsl(210, 10%, 33%);
    margin-bottom: 10px;
}

.section-subheading {
    font-size: 2em;
    color: hsl(201, 11%, 66%);
    margin-bottom: 50px;
}

.container-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container {
    padding: 20px;
    text-align: center;
    flex: 1;
    max-width: 300px;
}

.container-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.container-heading {
    font-size: 1.3em;
    color: hsl(210, 10%, 33%);
    margin-bottom: 10px;
}

.container-subheading {
    font-size: 1em;
    color: hsl(201, 11%, 66%);
}

.company-section {
    text-align: center;
    margin: 40px 0;
}

.company-container {
    zoom: 170%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
}

.company-logo {
    width: 150px;
    height: auto;
    max-width: 150px;
}

.footer {
    background-color: #e6e6e6;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.footer-left {
    text-align: left;
}

.footer-center {
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer-right {
    zoom: 250%;
    text-align: right;
}

.footer-logo {
    max-width: 5em;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

.social-link {
    display: inline-block;
    margin-left: 10px;
}

.social-link img {
    width: 20px;
    height: auto;
}

.last {
    padding-top: 50px;
    padding-bottom: 50px;
}

.end-btn {
    margin-top: 60px;
}
